<header><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<nav class="navbar navbar-default"><%= link_to "team", team_path %>
    <%= link_to "contact", contact_path %> <%= link_to "home", '/' %></nav>
</header>



<h1>Page de contact des gros lourdeaux</h1>


<p>Mail : Tu n'envoies pas de mail aux gens qui ne veulent pas de parler</p>

<p>Téléphone : On ne veut pas te parler</p>
