<header><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<nav class="navbar navbar-default"><%= link_to "team", team_path %>
    <%= link_to "contact", contact_path %> <%= link_to "home", '/' %></nav>
</header>


<h1 class = "BLA">TEAM</h1>
<p>Surfistas de domingo - Maxouille et Victouille</p>

<p>Samuel vous dit bonjour du Portugal :</p>

<img src="https://nsa39.casimages.com/img/2018/10/30/18103007105365037.jpg" alt="Sam & Cochonou">
