<header><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<nav class="navbar navbar-default"><%= link_to "team", team_path %>
	<%= link_to "contact", contact_path %> <%= link_to "home", '/' %></nav>
</header>


<h1 class = "BLA">Contact</h1>
<p>Lenoudouce, Popo, Riri & Gogo <br /><br />
NUMnum: 00 00 00 00 ** <br />
<span class="li">call us baby</span></p>



